.FancyButton {
  display: block;
  margin: 0 5px;
  padding: 10px 15px;
  text-decoration: none;
  background-color: #f3f3f3;
  color: #000;
  border-radius: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.FancyButton:hover {
  background-color: #fff;
}
